@media only screen {
    .react-resume.dark {
      background-color: #2d2d2d;
      color: #fff;
    }
  
    .react-resume.dark h1 {
      color: #f2bb13;
      font-weight: 1.1em;
    }
  
    .react-resume.dark h2 {
      color: #f2bb13;
    }
  
    .react-resume.dark hr {
      border-color: #1f1f1f;
    }
  
    .react-resume.dark a {
      color: #51ffff;
    }

    .react-resume.dark img.normal-icon {
      display: none;
    }

    .react-resume.dark img.dark-icon {
      display: initial;
    }

    .App.darkMode {
      background: #2d2d2d !important;
    }

    .App.darkMode .ui.basic.label {
      color: #f2bb13;
    }

    .App.darkMode .sidebar .ui.massive.attached.menu .item {
      color:#f2bb13;
    }

    .App.darkMode > .ui.massive.attached.menu > .item{
      color: #f2bb13;
    }

    .App.darkMode .json-resume-tool {
      background: #2d2d2d;
    }

    .App.darkMode .ui.scale.down.sidebar {
      background: #2d2d2d !important;
    }

    .App.darkMode .ui.scale.down.sidebar div>em, .App.darkMode .ui.scale.down.sidebar div>h1, .App.darkMode .ui.scale.down.sidebar h2 {
      color: #f2bb13 !important;
    }

    .App.darkMode .ui.large.fluid.button {
      background: #1f1f1f !important;
      color: #fff !important;
    }

    .App.darkMode .ui.checkbox label{
      color: #fff !important;
    }

    .App.darkMode .ui.toggle.checked.checkbox input:checked ~ label{
      color: #fff !important;
    }

    .App.darkMode .ui.large.fluid.button .options-selector{
      color: #fff !important;
      background: url(https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/hardware/1x_web/ic_keyboard_arrow_down_white_48dp.png) no-repeat right center
    }

    .App.darkMode .ui.button.basic.circular {
      color: #fff !important;
      box-shadow:  0 0 1.5px rgba(31,31,31,.65) inset !important;
      background: transparent !important;
    }

    .App.darkMode .ui.button.basic.circular:hover {
      background: #000 !important;
    }

    .App.darkMode .ui.modal .ui.top.attached.menu {
      background: #2d2d2d !important;
    }

    .App.darkMode .ui.modal .content {
      background: #2d2d2d !important;
      color: #fff;
    }

    .App.darkMode .ui.modal .content .ui.accordion.styled {
      background: #1f1f1f !important;
    }

    .App.darkMode .ui.modal .content .ui.accordion.styled .title{
      color: #fff !important;
    }
    /* For the modal, since it is outside the main ".App.darkmode" DOM when opened */
    .darkMode.ui.button.basic.circular:hover {
      background: #000 !important;
    }

    .darkMode.ui.modal .ui.top.attached.menu {
      background: #2d2d2d !important;
    }
    .darkMode.ui.modal .header{
      border-bottom: 1px solid rgba(0, 0, 0, 0.65);
    }

    .darkMode.ui.modal .content,
    .darkMode.ui.modal .header .ui.massive.borderless.top.attached.menu .item {
      background: #2d2d2d !important;
      color: #fff;
    }

    .darkMode.ui.modal .content .ui.accordion.styled {
      background: #1f1f1f !important;
      box-shadow: 0 1px 2px 0 rgba(221, 219, 217, 0.15), 0 0 0 1px rgba(221, 219, 217, 0.15)
    }

    .darkMode.ui.modal .content .ui.accordion.styled .title{
      color: rgba(255,255,255,0.4) !important;
      border-top: 1px solid rgba(221, 219, 217,.15);
    }

    .darkMode.ui.modal .content .ui.accordion.styled .title:first-child{
      border-top: none;
    }

    .darkMode.ui.modal .content .ui.accordion.styled .active.title,
    .darkMode.ui.modal .content .ui.accordion.styled .title:hover{
      color: rgb(255,255,255) !important;
    }
    .darkMode.ui.modal .content .ui.accordion.styled .content .json-resume-tool button,
    .darkMode.ui.modal .content .ui.accordion.styled .content .json-resume-tool button label{
      background: #2d2d2d !important;
      color: #fff !important;
    }
}