@media only screen {
    .react-resume.dark {
      background-color: #2d2d2d;
      color: #fff;
      -webkit-text-fill-color: #fff;
    }

    .react-resume.dark h1 {
      color: #f2bb13;
      -webkit-text-fill-color: #f2bb13;
      /* -webkit-opacity: 1;
      opacity: 1; */

      font-weight: 1.1em;
    }

    .react-resume.dark h2 {
      color: #f2bb13;
      -webkit-text-fill-color: #f2bb13;
    }

    .react-resume.dark hr {
      border-color: #1f1f1f;
    }

    .react-resume.dark a {
      color: #51ffff;
      -webkit-text-fill-color: #51ffff;
    }

    .react-resume.dark img.normal-icon {
      display: none;
    }

    .react-resume.dark img.dark-icon {
      display: initial;
    }

    .App.darkMode,
    button.cloud-save-info-button.darkMode {
      background: #2d2d2d !important;
    }

    .App.darkMode .ui.basic.label,
    button.cloud-save-info-button.darkMode {
      -webkit-text-fill-color: #f2bb13;

      color: #f2bb13;
    }

    .App.darkMode .sidebar .ui.massive.attached.menu .item {
      -webkit-text-fill-color: #f2bb13;

      color: #f2bb13;
    }

    .App.darkMode > .ui.massive.attached.menu > .item {
      -webkit-text-fill-color: #f2bb13;

      color: #f2bb13;
    }

    .App.darkMode .json-resume-tool {
      background: #2d2d2d;
    }

    .App.darkMode .ui.scale.down.sidebar {
      background: #2d2d2d !important;
    }

    .App.darkMode .ui.scale.down.sidebar div > em,
    .App.darkMode .ui.scale.down.sidebar div > h1,
    .App.darkMode .ui.scale.down.sidebar h2 {
      color: #f2bb13 !important;
      -webkit-text-fill-color: #f2bb13;
    }

    .App.darkMode .ui.large.fluid.button {
      background: #1f1f1f !important;
      color: #fff !important;
      -webkit-text-fill-color: #fff;
    }

    .App.darkMode .ui.checkbox label {
      color: #fff !important;
      -webkit-text-fill-color: #fff;
    }

    .App.darkMode .ui.toggle.checked.checkbox input:checked ~ label {
      color: #fff !important;
      -webkit-text-fill-color: #fff;
    }

    .App.darkMode .ui.large.fluid.button .options-selector,
    .App.darkMode .ui.large.button {
      color: #fff !important;
      -webkit-text-fill-color: #fff;

      background: url(https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/hardware/1x_web/ic_keyboard_arrow_down_white_48dp.png)
        no-repeat right center;
    }

    .App.darkMode .ui.button.basic.circular {
      color: #fff !important;
      -webkit-text-fill-color: #fff;

      box-shadow: 0 0 1.5px rgba(31, 31, 31, 0.65) inset !important;
      background: transparent !important;
    }

    .App.darkMode .ui.button.basic.circular:hover {
      background: #000 !important;
    }

    .ui.modal.darkModal .ui.top.attached.menu {
      background: #2d2d2d !important;
    }

    .ui.modal.darkModal .ui.large.fluid.button,
    .App.darkMode .ui.large.button {
      background: #1f1f1f !important;
      color: #fff !important;
      -webkit-text-fill-color: #fff;
    }

    .ui.modal.darkModal .ui.checkbox label {
      color: #fff !important;
      -webkit-text-fill-color: #fff;
    }

    .ui.modal.darkModal .ui.toggle.checked.checkbox input:checked ~ label {
      color: #fff !important;
      -webkit-text-fill-color: #fff;
    }

    .ui.modal.darkModal .ui.top.attached.menu .item {
      color: #f2bb13 !important;
      -webkit-text-fill-color: #f2bb13;
    }

    .ui.modal.darkModal .content {
      background: #2d2d2d !important;
      color: #fff;
      -webkit-text-fill-color: #fff;
    }

    .ui.modal.darkModal .content .ui.accordion.styled {
      background: #1f1f1f !important;
    }

    .ui.modal.darkModal .content .ui.accordion.styled .title {
      color: #fff !important;
      -webkit-text-fill-color: #fff;
    }

    .save-to-cloud.dark.ui.modal div {
      background: #2d2d2d !important;
      color: #fff !important;
      -webkit-text-fill-color: #fff;
    }
  }
