* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

.resume {
  font-size: 11px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

h1 {
  font-size: 22px;
  margin-top: 0;
}

h2 {
  font-size: 15px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 5px;
}

h3 {
  font-size: 13px;
  margin: 0;
}

body {
  max-width: 8.5in;
  max-height: 11in;
  margin-left: auto;
  margin-right: auto;
}

.resume {
  margin-left: 0.25in;
  margin-right: 0.25in;
}

.resume-header {
  text-align: center;
  padding: 20px;
}

.resume-header h1 {
  margin-bottom: 0;
}

.resume-header hr:nth-of-type(1) {
  height: 1px;
  background-color: black;
}

.resume-header ul {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  margin-top: 5px;
  padding: 0;
}

.resume-header li {
  list-style: none;
  display: inline;
  font-size: 13px;
}

.resume-header ul:first-of-type li::after {
  content: " | ";
  font-weight: bold;
}

.resume-header ul:first-of-type li:last-child::after {
  content: "";
}

.resume-header ul:nth-of-type(2) li::after {
  content: ", ";
}

.resume-header ul:nth-of-type(2) li:last-of-type::after {
  content: "";
}

.resume-experience {
  text-align: left;
}

.resume-experience > ul,
.resume-education > ul,
.resume-projects > ul {
  margin-left: 0;
  padding-left: 0;
}

.resume-experience > ul > li,
.resume-education > ul > li,
.resume-projects > ul > li {
  list-style: none;
  margin-bottom: 10px;
}

.resume-experience h3:first-of-type,
.resume-education h3:first-of-type,
.resume-projects h3:first-of-type {
  display: inline-block;
  width: 70%;
}

.resume-experience h3:nth-of-type(2),
.resume-education h3:nth-of-type(2),
.resume-projects h3:nth-of-type(2) {
  display: inline-block;
  width: 30%;
  text-align: right;
  vertical-align: top;
  font-size: 13px;
  font-weight: 400;
}

.resume-experience em,
.resume-experience i {
  display: block;
}

.resume-experience i {
  font-size: small;
  margin-bottom: 5px;
}

.resume-experience em {
  margin-bottom: 5px;
}

.resume-tech-skills h3 {
  margin-bottom: 5px;
}

.resume-tech-skills .grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
}

.resume-tech-skills .grid-column-1,
.resume-tech-skills .grid-column-2 {
  grid-column-start: 1;
  margin-bottom: 15px;
}

@media (min-width: 500px) {
  .resume-tech-skills .grid-container {
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
  }

  .resume-tech-skills .grid-column-1 {
    grid-column-start: 1;
  }

  .resume-tech-skills .grid-column-2 {
    grid-column-start: 2;
  }

  .resume-tech-skills .grid-column-1,
  .resume-tech-skills .grid-column-2 {
    margin-bottom: 0;
  }
}

.resume-tools {
  z-index: 5;
}

.resume-edit-panel {
  z-index: 10;
}

@media print {
  .resume-tools {
    display: none;
  }
  .resume-edit-panel {
    display: none;
  }
  .github-corner {
    display: none;
  }
  #notification-wrapper div.toast-notification {
    display: none;
  }

  div.ad-area {
    display: none;
    margin-top: 75px;
  }
}

#notification-wrapper div.toast-notification {
  font-family: Roboto, sans-serif;
  border-radius: 0;
  font-size: 18px;
}

div.ad-area {
  margin-top: 45px;
}

@media only screen and (max-width: 768px) {
  #notification-wrapper div.toast-notification {
    display: none;
  }
}

.header__image {
  width: 50px;
  height: 50px;
  float: left;
}
