.resume-tools-resume-editor button,
.resume-tools-visibility-changer div label,
.resume-tools-order-changer li div,
.check-box-container,
.resume-tools-print-button button,
#font-selector {
  width: 100%;
  height: 52px;
  font-size: 19px;
  margin-bottom: 5px;
}
