.resume-tools {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.resume-tools-bar {
  height: 100%;
  position: fixed;
  width: 100%;
  left: -100%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -webkit-transition: 0.5s 0s;
  -moz-transition: 0.5s 0s;
  transition: all 0.5s 0s;
  text-align: center;
  overflow-y: scroll;
  background-color: rgba(247, 245, 245, 0.932);
  padding-right: 15px;
  padding-left: 15px;
}

.resume-tools-container {
  margin-top: 55px;
}

label {
  display:block;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
}

.resume-tools-visibility-changer div label {
  font-weight: normal;
  margin: 0;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  padding: 12px;
}

.resume-tools-visibility-changer {
  margin-top: 20px;
}

.check-box-container {
  border:none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: white;
  outline:none;
  margin-right:auto;
  margin-left: auto;
  padding-top: 5px;
}

input[type=checkbox] {
  width: 17px;
  height: 17px;
  margin-right: 5px;
  -webkit-appearance: none;
  outline: none;
  border: 2px #b4b3b3 solid;
  border-radius: 180px;
}

input[type=checkbox]:checked {
  background-color: rgb(35, 36, 37);
}

#font-selector {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: none;
  border-radius: 0;
  -moz-border-radiu: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: listbox;
  padding-left: 13px;
  background: url(https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png) no-repeat right center;
  background-size: 45px 45px;
  background-color: white;
}

.resume-tools-order-changer {
  margin-top: 25px;
}

.resume-tools-order-changer ul {
  padding: 0;
  margin-left: 0;
  margin-top: 0;
}


.resume-tools-order-changer li .drag-handle {
  margin-left: 10px;
  font-size: 22px;
  display: inline-block;
}

.resume-tools-order-changer li .section-name {
  margin-left: 10px;
}

.resume-tools-order-changer li {
  list-style: none;
}

.resume-tools-order-changer li div {
  display: block;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: white;
  padding-top: 15px;
  text-align: left;
}

.resume-tools-order-changer li div:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  cursor: grab;
}

.resume-tools-resume-editor button {
  border:none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: white;
  outline:none
}

.resume-tools-resume-editor button:hover {
  box-shadow: 0 5px 5px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.resume-edit-panel label {
  font-family: Roboto, sans-serif !important ;
}

.resume-edit-panel {
  position: fixed;
  width: 100%;
  height: 100%;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: white;
  padding: 1%
}

.resume-edit-panel label {
  margin-left: 0;
  padding-top: 10px;
  display: inline-block;
  margin-right: 10px;
}

.resume-edit-panel em {
  font-family: Cutivo Mono, monospace;
}

.resume-edit-panel a {
  float:right;

}

#resume-js-editor textarea,
#resume-js-editor {
  border: 1px solid black;
  font-family: Source Code Pro, monospace;
  height: 90% !important;
  width: 97% !important;
  font-size: 16px;
  margin-left: 5px;
}

@media only screen and (min-width: 768px) {
  .resume-tools,
  .resume-tools-bar {
    width: 300px;
  }

  .resume-edit-panel {
    width: 75%;
    left: 20%;
    margin-left:auto;
    margin-right: auto;
  }

  #resume-js-editor textarea,
  #resume-js-editor {
    height: 93% !important;
    width: 99% !important;
  }
}
