.resume-tools-menu-button {
  margin: 5px 5px;
}

.resume-tools-menu-button div {
  width: 30px;
  height: 3px;
  background-color: black;;
  margin-bottom: 5px;
  -webkit-transition: .5s ;
  -moz-transition: .5s ;
  transition: .5s ;
}

.resume-tools-menu-button div.tools-shown:first-of-type {
  transform: rotate(45deg);
  position: relative;
  width: 25px;
  top: 8px;
}

.resume-tools-menu-button div.tools-shown:nth-of-type(2) {
  width: 0;
  position: relative;

}

.resume-tools-menu-button div.tools-shown:last-of-type {
  transform: rotate(-45deg);
  position: relative;
  top: -8px;
  width: 25px;
}
