.resume-tools {
  position: fixed;
  height: 100%;
  width: 300px;
  left: 0;
  top: 0;
}

.resume-tools-bar {
  height: 100%;
  position: fixed;
  width: 300px;
  left: -310px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -webkit-transition: .25s;
  -moz-transition: .25s;
  transition: .25s ;
  padding-top: 40px;
  padding-left: 10px;
  text-align: center;
}

label {
  display:block;
  text-align: left;
  margin-left: 10%;
  margin-top: 10px;
}

.resume-tools-visibility-changer {
  margin-top: 20px;
}

.resume-tools-visibility-changer input[type=checkbox] {
  margin-left: 10px;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

#resume-tools-font-selector {
  height: 35px;
  width: 85%;
}