.resume-tools-bar {
  height: 100%;
  position: fixed;
  width: 300px;
  left: -310px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -webkit-transition: .25s;
  -moz-transition: .25s;
  transition: .25s ;
  padding-top: 40px;
  padding-left: 10px;
}